In [2]:
import tabula
import numpy as np
import csv

## Obtain PDF

file updates daily: http://stopcoronavirus.mcgm.gov.in/assets/docs/Dashboard.pdf

## Scrape PDF

Obtain tables from file. Convert and save tables as csv files

* using tablua for scraping: http://theautomatic.net/2019/05/24/3-ways-to-scrape-tables-from-pdfs-with-python/

* https://nbviewer.jupyter.org/github/chezou/tabula-py/blob/master/examples/tabula_example.ipynb

In [3]:
file = "http://stopcoronavirus.mcgm.gov.in/assets/docs/Dashboard.pdf"

### Ward-wise new cases

Positive cases for the last 7 days

In [4]:
new_case_growth = tabula.read_pdf(file, pages=24, multiple_tables=False)

new_cases = new_case_growth[0]

In [5]:
nc_expected_header = ['Date of report', 'RC', 'HW', 'RS', 'RN', 'PS', 'A', 'C', 'D', 'KW', 'T', 'PN', 'N', 'FN', 'FS', 'MW', 'ME', 'B', 'E', 'GS', 'KE', 'GN', 'S', 'HE', 'L', 'Grand Total']

In [6]:
# check that correct table was scraped

# check headers
if (new_cases.columns == nc_expected_header).all():
    pass
else:
    print('Incorrect columns in ward cases table')
    
    
# check rows
row_11_values = new_cases.loc[11, nc_expected_header[1:]]

if row_11_values.isnull().all(): # value for each ward should be null
    pass
else:
    print('Unexpected values in row 11')
    
for row in range(1,11):
    if np.array_equal(new_cases.loc[row, nc_expected_header[1:-1]], new_cases.loc[row, nc_expected_header[1:-1]].astype(str)): # value for each ward should be a str
        pass
    else:
        print('Unexpected values in rows 1-10')

In [7]:
new_cases.drop(labels=11, inplace=True)

### Save ward identifier with corresponding ward name in a dictionary

In [8]:
wards = new_cases.iloc[0][1:] # series of ward names, index is identifiers
identifiers = new_cases.iloc[0][1:].index
ward_identifiers = {}

In [9]:
wards.drop('Grand Total', inplace=True)

wards

RC           Borivali
HW             Bandra
RS          Kandivali
RN            Dahisar
PS           Goregaon
A              Colaba
C       Marine\rLines
D         Grant\rRoad
KW         Andheri\rW
T              Mulund
PN              Malad
N           Ghatkopar
FN            Matunga
FS              Parel
MW         Chembur\rW
ME         Chembur\rE
B     Sandhurst\rRoad
E             Byculla
GS        Elphinstone
KE         Andheri\rE
GN              Dadar
S             Bhandup
HE               Khar
L               Kurla
Name: 0, dtype: object

In [10]:
for ward in wards:
    text = str(ward)
    name = text.replace('\r',' ')
    index = wards[wards==text].index[0]
    ward_identifiers[index] = name

In [11]:
ward_identifiers

{'RC': 'Borivali',
 'HW': 'Bandra',
 'RS': 'Kandivali',
 'RN': 'Dahisar',
 'PS': 'Goregaon',
 'A': 'Colaba',
 'C': 'Marine Lines',
 'D': 'Grant Road',
 'KW': 'Andheri W',
 'T': 'Mulund',
 'PN': 'Malad',
 'N': 'Ghatkopar',
 'FN': 'Matunga',
 'FS': 'Parel',
 'MW': 'Chembur W',
 'ME': 'Chembur E',
 'B': 'Sandhurst Road',
 'E': 'Byculla',
 'GS': 'Elphinstone',
 'KE': 'Andheri E',
 'GN': 'Dadar',
 'S': 'Bhandup',
 'HE': 'Khar',
 'L': 'Kurla'}

In [12]:
len(ward_identifiers) == len(wards) # check that dictionary has all wards

True

In [13]:
new_cases.drop(labels=0, inplace=True)

new_cases

,Date of report,RC,HW,RS,RN,PS,A,C,D,KW,...,ME,B,E,GS,KE,GN,S,HE,L,Grand Total
1,As on 22nd Aug,7331,3752,6473,3524,4507,3322,1892,5671,7539,...,4657,1190,5365,5823,8341,7895,7331,4607,5803,131301.0
2,23-Aug,77,50,59,24,50,43,25,45,35,...,20,5,30,30,29,31,40,29,28,919.0
3,24-Aug,61,18,62,21,34,17,13,32,70,...,30,7,25,29,35,33,12,13,15,688.0
4,25-Aug,38,14,60,25,23,11,9,40,29,...,16,4,20,11,15,17,25,21,17,537.0
5,26-Aug,178,82,129,83,73,70,23,86,131,...,59,6,57,44,67,72,67,30,32,1671.0
6,27-Aug,161,54,130,59,57,37,16,82,80,...,24,7,34,43,59,48,43,26,34,1295.0
7,28-Aug,128,56,76,46,37,33,22,58,68,...,35,13,19,49,56,60,50,23,35,1180.0
8,29-Aug,136,76,75,51,69,37,33,61,65,...,28,9,43,40,79,55,53,27,41,1339.0
9,As on 29th Aug,8110,4102,7064,3833,4850,3570,2033,6075,8017,...,4869,1241,5593,6069,8681,8211,7621,4776,6005,138930.0
10,Days to double,48,54,56,58,66,67,68,71,79,...,109,116,117,117,121,124,125,135,142,86.0

### Proactive screening of elderly to protect them and contain mortality

In [14]:
elderly_screening = tabula.read_pdf(file, pages=21, multiple_tables=False)

In [15]:
elderly = elderly_screening[0]

In [16]:
e_expected_header = ['Wards', 'Total No. of Houses', 'Population', 'Total No. of', 'Sr Citizen', '* Sr Citizen', 'Unnamed: 6', 'Unnamed: 7']

In [17]:
elderly

,Wards,Total No. of Houses,Population,Total No. of,Sr Citizen,* Sr Citizen,Unnamed: 6,Unnamed: 7
0,NaN,Surveyed,Covered,Senior Citizens,SPO2>95,SPO2<95,NaN,Summary till date
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(Daily),"45,036","166,721","7,020","7,016",NaN,4.0,NaN
3,H/W,643,"2,346",96,95,NaN,1.0,NaN
4,M/E,608,"2,404",258,257,NaN,1.0,"1,72,25,210"
5,N,"2,586","10,062","1,110","1,109",NaN,1.0,NaN
6,T,979,"3,206",384,383,NaN,1.0,Total Population covered till date
7,A,425,"1,629",15,15,NaN,0.0,NaN
8,B,352,"1,468",43,43,NaN,0.0,NaN
9,C,801,"2,467",49,49,NaN,0.0,"9,08,503"
10,D,393,"1,618",120,120,NaN,0.0,NaN
11,E,"1,617","6,765",176,176,NaN,0.0,NaN
12,F/S,"1,129","4,644",150,150,NaN,0.0,Senior Citizens covered till date
13,F/N,424,"1,506",251,251,NaN,0.0,NaN
14,G/S,"3,311","13,322",333,333,NaN,0.0,NaN
15,G/N,"2,429","8,465",150,150,NaN,0.0,NaN
16,H/E,500,"2,153",59,59,NaN,0.0,"9,05,391"
17,K/E,"2,946","10,681",607,607,NaN,0.0,NaN
18,K/W,543,"2,229",32,32,NaN,0.0,NaN
19,P/S,833,"2,689",133,133,NaN,0.0,Senior Citizens with SPO2>95
20,P/N,"3,437","12,102",257,257,NaN,0.0,till date
21,R/S,"4,803","17,690",191,191,NaN,0.0,NaN
22,R/C,862,"3,069",50,50,NaN,0.0,"3,112"
23,R/N,"8,353","27,950",317,317,NaN,0.0,NaN
24,L,"4,547","19,337","1,865","1,865",NaN,0.0,NaN
25,M/W,"1,001","3,256",224,224,NaN,0.0,Senior Citizens with SPO2<95
26,S,"1,514","5,663",150,150,NaN,0.0,21

In [18]:
# check that correct table was scraped

# check headers
if (elderly.columns == e_expected_header).all():
    pass
else:
    print('Incorrect columns in elderly table')
    
    
# check rows
row_1_values = elderly.loc[1, e_expected_header[1:]]

if row_1_values.isnull().all(): # value for each ward should be null
    pass
else:
    print('Unexpected values in row 1')
    
    
# check columns
for column in e_expected_header[:4]:
    if np.array_equal(elderly[column][2:], elderly[column][2:].astype(str)):
        pass
    else:
        print('Unexpected values in ' + str(column))
    
if np.array_equal(elderly['Unnamed: 6'][2:], elderly['Unnamed: 6'][2:].astype(float)):
    pass
else:
    print('Unexpected values in ' + str(column))

In [19]:
elderly.loc[2, 'Wards'] = 'Daily Totals'

In [20]:
elderly.drop(labels=[0,1], inplace=True)

In [21]:
elderly.drop(columns=['* Sr Citizen','Unnamed: 7'], inplace=True)

In [22]:
elderly.columns = [
    'Wards', 'Total No. of Houses Surveyed', 'Population Covered', 'Total No. of Senior Citizens', 'Sr Citizen SPO2>95','Sr Citizen SPO2<95'
]

In [23]:
elderly.index = elderly['Wards']
elderly.drop(columns=['Wards'], inplace=True)

In [24]:
elderly

,Total No. of Houses Surveyed,Population Covered,Total No. of Senior Citizens,Sr Citizen SPO2>95,Sr Citizen SPO2<95
Wards,,,,,
Daily Totals,"45,036","166,721","7,020","7,016",4.0
H/W,643,"2,346",96,95,1.0
M/E,608,"2,404",258,257,1.0
N,"2,586","10,062","1,110","1,109",1.0
T,979,"3,206",384,383,1.0
A,425,"1,629",15,15,0.0
B,352,"1,468",43,43,0.0
C,801,"2,467",49,49,0.0
D,393,"1,618",120,120,0.0
E,"1,617","6,765",176,176,0.0
F/S,"1,129","4,644",150,150,0.0
F/N,424,"1,506",251,251,0.0
G/S,"3,311","13,322",333,333,0.0
G/N,"2,429","8,465",150,150,0.0
H/E,500,"2,153",59,59,0.0
K/E,"2,946","10,681",607,607,0.0
K/W,543,"2,229",32,32,0.0
P/S,833,"2,689",133,133,0.0
P/N,"3,437","12,102",257,257,0.0
R/S,"4,803","17,690",191,191,0.0
R/C,862,"3,069",50,50,0.0
R/N,"8,353","27,950",317,317,0.0
L,"4,547","19,337","1,865","1,865",0.0
M/W,"1,001","3,256",224,224,0.0
S,"1,514","5,663",150,150,0.0

**final step: save scraped data**

In [ ]:
saved_files_path = '/Users/wasilaq/SWB/data-analysis/' # location where csv files should be saved

new_cases.to_csv(saved_files_path + 'new_cases.csv')
elderly.to_csv(saved_files_path + 'elderly.csv')


# save ward identifiers dictionary and keep in Github, for reference
with open('ward_identifiers.csv', 'w') as f:
    w = csv.DictWriter(f, ward_identifiers.keys())
    w.writeheader()
    w.writerow(ward_identifiers)